.button {
  @mixin text-sm;

  all: unset;

  cursor: pointer;

  position: relative;

  padding: var(--spacing-200);
  border: 1px solid transparent;
  border-radius: var(--spacing-100);

  font-weight: 700;
  text-align: center;

  background: transparent;

  &:hover {
    background-color: var(--grey-100);
  }
}

.disabled {
  cursor: not-allowed;
}

.primary {
  color: var(--white);
  background-color: var(--grey-900);

  &.disabled {
    background-color: var(--grey-500);
  }
}

.secondary {
  color: var(--grey-900);
  background-color: var(--beige-100);

  &.disabled {
    border: 1px solid var(--beige-500);
    background-color: var(--white);
  }
}

.tertiary {
  width: 100%;
  font-weight: 400;
}

.danger {
  color: var(--white);
  background-color: var(--red);
}

.icon {
  display: flex;
  justify-content: center;
  padding: 0;
  background-color: transparent;

  /* A trick to increase the hitbox area of an icon-only button without increasing the element's size  */
  &::after {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: block;

    min-width: 45px;
    min-height: 45px;
    border-radius: 50%;
  }

  span {
    z-index: 2;
    align-self: center;
    line-height: 0;
  }

  &:hover::after {
    background-color: var(--grey-100);
  }

  &:focus::after {
    outline: 2px solid var(--green);
  }
}
