.grid {
  container-type: inline-size;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: var(--spacing-150);

  padding: 0;

  @container (min-width: 670px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: var(--spacing-300);
  }
}
