@define-mixin text-xl {
  margin: 0;
  font-family: "Public Sans", Helvetica, Arial, sans-serif;
  font-size: var(--font-size-xl);
  line-height: 120%;
}

@define-mixin text-lg {
  margin: 0;
  font-family: "Public Sans", Helvetica, Arial, sans-serif;
  font-size: var(--font-size-lg);
  line-height: 120%;
}

@define-mixin text-base {
  margin: 0;
  font-family: "Public Sans", Helvetica, Arial, sans-serif;
  font-size: var(--font-size-base);
  line-height: 150%;
}

@define-mixin text-sm {
  margin: 0;
  font-family: "Public Sans", Helvetica, Arial, sans-serif;
  font-size: var(--font-size-sm);
  line-height: 150%;
}

@define-mixin text-xs {
  margin: 0;
  font-family: "Public Sans", Helvetica, Arial, sans-serif;
  font-size: var(--font-size-xs);
  line-height: 150%;
}
