---
import Icon from "#components/Icon/Icon.astro";

import style from "./style.module.css";
---

<li class={style.total}>
  <Icon icon="recurring" /><div class={style.text}>
    <p class={style.small}>Total Bills</p><p class={style.emphasis}>$384.98</p>
  </div>
</li>
