.card {
  padding: 20px;
  border-radius: 12px;

  color: var(--white);
  list-style-type: none;

  background-color: var(--grey-900);

  .content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-150);
  }

  .eyebrow {
    @mixin text-sm;

    font-weight: 400;
  }

  .text {
    @mixin text-xl;

    font-weight: 700;
  }

  @media (--sm-viewport) {
    padding: 24px;
  }
}

.light {
  color: var(--grey-900);
  background-color: var(--white);

  .eyebrow {
    color: var(--grey-500);
  }
}
