.overview {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-250);

  padding: var(--spacing-300) var(--spacing-250);
  border-radius: 12px;

  background-color: var(--white);

  .header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    @media (--md-viewport) {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
    }
  }

  .title {
    @mixin text-lg;

    font-weight: 700;
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: inherit;
  }

  .label {
    @mixin text-sm;

    font-weight: 400;
    color: var(--grey-500);

    &.small {
      @mixin text-xs;
    }
  }

  .value {
    margin: 0;
  }

  .total {
    @mixin text-xl;

    display: flex;
    flex-direction: row;
    gap: var(--spacing-200);
    align-items: center;

    padding: var(--spacing-200);
    border-radius: var(--spacing-150);

    font-weight: 700;

    background-color: var(--beige-100);
  }

  .icon {
    margin-inline-start: var(--spacing-200);
  }

  .details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: var(--spacing-200);

    padding: 0;
  }

  @media (--md-viewport) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, auto);
    padding: var(--spacing-400);
  }
}
