---
import type { GetBudgetExpensesByCategory } from "#actions/budgets.ts";

// import { GetAllColors } from "#actions/colors.ts";
// import AddNewBudget from "#components/AddNewBudget/AddNewBudget.astro";
// import BudgetDetailCard from "#components/BudgetDetailCard/BudgetDetailCard.astro";
import BudgetOverview from "#components/BudgetOverview/BudgetOverview.astro";
import Heading from "#components/Heading/Heading.astro";
import { fetchData } from "#db/fetch.ts";
import BaseLayout from "#layouts/BaseLayout.astro";

const [
  budgetExpensesByCategory,
  // colors,
  // categories
] = await Promise.all([
  fetchData<GetBudgetExpensesByCategory>("/budgets"),
  // fetchData<GetAllColors>("/colors"),
  // getAllCategories(),
]);

// const colorOptions = colors?.map((color) => ({
//   name: color.label,
//   prefixStyle: color.value,
// }));
// const categoryOptions = categories?.map((category) => ({
//   name: category.label,
//   suffixText: category.budgets && "already used",
// }));
---

<BaseLayout title="Budgets">
  <section>
    <div class="header">
      <Heading as="h1" size="xl">Budgets</Heading>
      <AddNewBudget />
    </div>
    {
      budgetExpensesByCategory && budgetExpensesByCategory.length > 0 && (
        <BudgetOverview
          expenses={budgetExpensesByCategory}
          summary="expenses"
        />
      )
    }
    <ul>
      {
        budgetExpensesByCategory?.map((budget) => (
          <BudgetDetailCard budget={budget} />
        ))
      }
    </ul>
  </section>
</BaseLayout>

<style>
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-150);
    margin-block-start: var(--spacing-400);

    @media (--lg-viewport) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--spacing-300);
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    margin-block: var(--spacing-400);
  }
</style>
