---
import BudgetDetailCard from "#components/BudgetDetailCard/BudgetDetailCard.astro";
import BudgetOverview from "#components/BudgetOverview/BudgetOverview.astro";
import DialogButton from "#components/Dialog/DialogButton.astro";
import DialogModal from "#components/Dialog/DialogModal.astro";
import Heading from "#components/Heading/Heading.astro";
import Input from "#components/Input/Input.astro";
import Select from "#components/Select/Select.astro";
import { getBudgetExpensesByCategory } from "#db/budgets.ts";
import { getAllCategories } from "#db/categories.ts";
import { getAllColors } from "#db/colors.ts";
import BaseLayout from "#layouts/BaseLayout.astro";

const [budgetExpensesByCategory, colors, categories] = await Promise.all([
  getBudgetExpensesByCategory(),
  getAllColors(),
  getAllCategories(),
]);

const colorOptions = colors?.map((color) => ({
  name: color.label,
  prefixStyle: color.value,
}));
const categoryOptions = categories?.map((category) => ({
  name: category.label,
  suffixText: category.budgets && "already used",
}));
---

<BaseLayout title="Budgets">
  <section>
    <div class="header">
      <Heading as="h1" size="xl">Budgets</Heading>
      <DialogButton modalId="add-budget">Add New budget</DialogButton>
      <DialogModal
        description="Choose a category to set a spending budget. These categories can help you monitor spending."
        id="add-budget"
        title="Add New Budget"
      >
        {
          categoryOptions && categoryOptions.length > 0 && (
            <Select
              id="budget_categories"
              label="Budget Category"
              options={categoryOptions}
            />
          )
        }
        <Input
          id="budget_max_spending"
          label="Maximum Spending"
          placeholder="e.g. 2000"
          prefix="$"
        />
        {
          colorOptions && colorOptions.length > 0 && (
            <Select id="budget-theme" label="Theme" options={colorOptions} />
          )
        }
      </DialogModal>
    </div>
    {
      budgetExpensesByCategory && budgetExpensesByCategory.length > 0 && (
        <BudgetOverview
          expenses={budgetExpensesByCategory}
          summary="expenses"
        />
      )
    }
    <ul>
      {
        budgetExpensesByCategory?.map((budget) => (
          <BudgetDetailCard budget={budget} />
        ))
      }
    </ul>
  </section>
</BaseLayout>

<style>
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-150);
    margin-block-start: var(--spacing-400);

    @media (--lg-viewport) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--spacing-300);
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    margin-block: var(--spacing-400);
  }
</style>
