---
import Card from "#components/Card/Card.astro";
import CardGrid from "#components/CardGrid/CardGrid.astro";
import PotsOverview from "#components/PotsOverview/PotsOverview.astro";
import TransactionOverview from "#components/TransactionOverview/TransactionOverview.astro";
import { getOverview } from "#db/overview.ts";

import "../styles/global.css";

const data = await getOverview();
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <link
      href="./assets/images/favicon-32x32.png"
      rel="icon"
      sizes="32x32"
      type="image/png"
    />

    <title>Frontend Mentor | Personal finance app - Overview</title>
  </head>
  <body>
    Overview Transactions Budgets Pots Recurring Bills Minimize Menu
    <main>
      <h1>Overview</h1>
      <CardGrid>
        <Card eyebrow="Current Balance" text="$4,836.00" />
        <Card background="light" eyebrow="Income" text="$3,814.25" />
        <Card background="light" eyebrow="Expenses" text="$1,700.50" />
      </CardGrid>

      <PotsOverview />

      {
        data?.transactions && data.transactions.length > 0 && (
          <TransactionOverview transactions={data.transactions} />
        )
      }

      Income
      <!-- Add income -->

      Expenses
      <!-- Add expenses -->

      Pots See Details Total Saved
      <!-- Add pots data -->

      Budgets See Details
      <!-- Add budgets data -->

      Transactions View All
      <!-- Add transactions data -->

      Recurring Bills See Details
      <!-- Add recurring bills data -->
    </main>
  </body>
</html>
