---
import BudgetOverview from "#components/BudgetOverview/BudgetOverview.astro";
import Card from "#components/Card/Card.astro";
import CardGrid from "#components/CardGrid/CardGrid.astro";
import PotsOverview from "#components/PotsOverview/PotsOverview.astro";
import TransactionOverview from "#components/TransactionOverview/TransactionOverview.astro";
import { getOverview } from "#db/overview.ts";
import RecurringBillsOverview from "#src/components/RecurringBillsOverview/RecurringBillsOverview.astro";
import { getBudgetExpenses } from "#src/db/budgets.ts";
import { getRecurringBillsOverview } from "#src/db/transactions.ts";
import BaseLayout from "#src/layouts/BaseLayout.astro";
import HomeLayout from "#src/layouts/HomeLayout.astro";

import "../styles/global.css";

const data = await getOverview();

const currentMonthTransactions = await getBudgetExpenses();
const recurringBills = await getRecurringBillsOverview();
---

<BaseLayout title="Overview">
  <h1>Overview</h1>
  <HomeLayout>
    <CardGrid>
      <Card eyebrow="Current Balance" text="$4,836.00" />
      <Card background="light" eyebrow="Income" text="$3,814.25" />
      <Card background="light" eyebrow="Expenses" text="$1,700.50" />
    </CardGrid>

    <PotsOverview />

    {
      data?.transactions && data.transactions.length > 0 && (
        <TransactionOverview transactions={data.transactions} />
      )
    }

    {
      data?.budgets && data.budgets.length > 0 && currentMonthTransactions && (
        <BudgetOverview
          budgets={data.budgets}
          overview={currentMonthTransactions}
        />
      )
    }

    {recurringBills && <RecurringBillsOverview bills={recurringBills} />}
  </HomeLayout>
</BaseLayout>
