---
import Heading from "#components/Heading/Heading.astro";
import TransactionsList from "#components/Transactions/TransactionsList.astro";
import BaseLayout from "#layouts/BaseLayout.astro";
---

<BaseLayout title="Transactions">
  <section>
    <Heading as="h1" class="title" size="xl">Transactions</Heading>
    <TransactionsList />
  </section>
</BaseLayout>

<style>
  section {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-500);
    padding-block-end: var(--spacing-400);
  }

  .title {
    margin-block-start: var(--spacing-500);
  }
</style>
