---
import Heading from "#components/Heading/Heading.astro";
import TransactionsList from "#components/Transactions/TransactionsList.astro";
import DefaultLayout from "#layouts/DefaultLayout.astro";
import { createSbClient } from "#lib/supabase.ts";

const supabase = createSbClient({
  request: Astro.request,
  cookies: Astro.cookies,
});
// @ts-expect-error due to casting the SSR client to the Browser client
const user = await supabase.auth.getUser();

if (!user?.data) {
  Astro.redirect("/signin");
}
---

<DefaultLayout title="Transactions">
  <section>
    <Heading as="h1" class="title" size="xl">Transactions</Heading>
    <TransactionsList />
  </section>
</DefaultLayout>

<style>
  section {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-500);
    padding-block-end: var(--spacing-400);
  }

  .title {
    margin-block-start: var(--spacing-500);
  }
</style>
