.overview {
  display: flex;
  flex-direction: column;

  padding: var(--spacing-250);
  border-radius: 12px;

  background-color: var(--white);

  @media (--md-viewport) {
    row-gap: var(--spacing-250);
    padding: var(--spacing-400);
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: var(--spacing-200);

  padding: 0;

  @media (--md-viewport) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
  }
}

.main {
  @media (--md-viewport) {
    display: flex;
    flex-direction: row;
  }
}

.wrapper {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.chart {
  aspect-ratio: 1 / 1;
  width: 100%;
  max-width: 240px;
  height: 100%;
  max-height: 240px;
  border-radius: 50%;
}

.inner {
  position: absolute;
  inset: 0;

  aspect-ratio: 1 / 1;
  width: 100%;
  max-width: 162px;
  margin: auto;
  border: var(--spacing-150) solid rgb(255 255 255 / 25%);
  border-radius: 50%;
}

.text {
  @mixin text-xs;

  position: absolute;
  inset: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  aspect-ratio: 1 / 1;
  width: 100%;
  margin: auto;
  border-radius: 50%;

  color: var(--grey-500);

  background-color: var(--white);
}

.emphasis {
  @mixin text-xl;

  font-weight: 700;
  color: var(--grey-900);
}
