---
import type { Tables } from "#src/types.ts";

import Transaction from "./Transaction.astro";
import Heading from "#components/Heading/Heading.astro";
import Link from "#components/Link/Link.astro";

import style from "./style.module.css";

interface Props {
  transactions: Array<Tables<"Transactions">>;
}

const { transactions } = Astro.props;
---

<section class={style.overview}>
  <div class={style.header}>
    <Heading as="h2" size="lg">Transactions</Heading>
    <Link href="/transactions">View All</Link>
  </div>
  <ul class={style.transactions}>
    {
      transactions.map((transaction) => (
        <Transaction transaction={transaction} />
      ))
    }
  </ul>
</section>
