.container {
  position: relative;
  width: 100%;
}

.list {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-100);

  margin: 0;
  padding: 0;
  padding: var(--spacing-150);
  border: 1px solid var(--grey-100);
  border-radius: var(--spacing-100);

  list-style-type: none;

  background-color: var(--white);
  box-shadow: 0 4px 24px rgb(0 0 0 / 25%);
}

.option {
  @mixin text-sm;

  cursor: pointer;
  position: relative;
  padding: var(--spacing-100) var(--spacing-50);

  &:not(:last-child)::after {
    content: "";

    position: absolute;
    right: 0;
    bottom: calc((-1 * var(--spacing-100)) / 2);
    left: 0;

    height: 1px;

    background-color: var(--grey-100);
  }
}

/* .option:not(:last-child) {
  border-block-end: 1px solid var(--grey-100);
} */

[role="listbox"]:focus [role="option"].focused {
  outline: 2px solid currentcolor;
}

[role="option"]:hover {
  border-radius: var(--spacing-100);
  background-color: var(--grey-100);
}

[aria-selected="true"] {
  font-weight: 700;
}
