---
import Button from "#components/Button/Button.astro";
import Icon from "#components/Icon/Icon.astro";

import style from "./style.module.css";
---

<div class={style.container} data-password-hidden="true">
  <Button data-hide-password type="button" variant="icon">
    <span class="visually-hidden">Hide password</span>
    <Icon icon="password-hidden" />
  </Button>
  <Button data-show-password type="button" variant="icon">
    <span class="visually-hidden">Show password</span>
    <Icon icon="password-visible" />
  </Button>
</div>

<script>
  document
    .querySelectorAll<HTMLDivElement>("[data-password-hidden]")
    .forEach((container) => {
      const buttons = container.querySelectorAll("button");
      const input = container.previousElementSibling;

      buttons.forEach((button) => {
        if (input instanceof HTMLInputElement) {
          button.addEventListener("click", () => {
            if (button.hasAttribute("data-show-password")) {
              input.type = "text";
              container.setAttribute("data-password-hidden", "false");
            } else {
              input.type = "password";
              container.setAttribute("data-password-hidden", "true");
            }
          });
        }
      });
    });
</script>
