[data-hide-password],
[data-show-password] {
  line-height: 0;
}

.container[data-password-hidden="true"] {
  [data-hide-password] {
    display: none;
  }
}

.container[data-password-hidden="false"] {
  [data-show-password] {
    display: none;
  }
}
