.grid {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);

  > :nth-child(1) {
    grid-column: 1 / -1;
  }

  > :nth-child(2) {
    grid-column: 1 / 2;
  }

  > :nth-child(3) {
    grid-column: 1 / 2;

    @media (--lg-viewport) {
      grid-row: 3 / 5;
    }
  }

  > :nth-child(5) {
    @media (--lg-viewport) {
      grid-column: 2 / 3;
      grid-row: 3 / 5;
    }
  }

  @media (--lg-viewport) {
    display: grid;
    grid-template-columns: 5fr 4fr;
    grid-template-rows: repeat(4, auto);
  }
}
