name: CI

on:
  pull_request:
  push:
    branches: ["main"]
permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    continue-on-error: false
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: npm

      - run: npm ci
      - run: npm run check
      - run: npm run lint
